
/*esto es un comentario en Css*/
/*El Css se usa para dar estilo a los elementos HTML*/
body{
    background-color: rgb(38, 37, 37);
    /*margin: 5px; /*margen de 5px*/
    margin: 0;
    
}
main{
    margin: 20px;
}
h1{
    color: white;
    text-align: center;
    border-style: solid;
}
h2{
    color: white;
    text-align: center;
    
}
p{
    color: white;
    text-align: left; /*alineacion del texto a la izquierda*/
}
h3{
    color: white;
}
*{
    /*Esto se aplica a todo el documento*/
    box-sizing: border-box; /*esto hace que el padding y el borde se incluyan en el ancho y alto del elemento*/
}

/*En css podemois usar clases y id's para dar estilo a los elementos*/
/*con los # solo nos referimos al ID pero las clases van con .*/
#lyrico{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;       
    margin: 0px;
    text-align: center; /*alineacion del texto al centro*/ 
    white-space: pre-line; /*esto hace que los saltos de linea se respeten*/
    display: inline-block;
}
#lyricContainer{
    display: inline-block;/*esto hace que el elemento se comporte como un bloque en linea*/
    border: 6px solid rgb(14, 68, 218); /*borde solido de 6px*/
    border-radius: 10px; /*bordes redondeados de 10px*/
    padding: 20px; /*padding de 20px*/
    max-width: 90%;
    
    
}
.lyricWrapper{
text-align: center;
width: 100%; /*ancho del 100%*/
}
.repro1{
    color: white;
    text-align: left;
    font-size: 23px;
    
}

/*llamamos a la clase texto*/
.testo{
    color: white;
    text-align: left;  
    font-size: 20px;

}


#videoDS3{
    text-align: center; /*alineacion del texto al centro*/
    margin: 0 auto; /*margen automatico para centrar el video*/
    margin-bottom: 40px;
}

/* podemos usar un mismo archivo css para varios archivos html */
/*para que no se repita el codigo, podemos usar clases e id's*/

/*la diferencia entre usar id y clase es que el id es unico, mientras que la clase puede ser usada en varios elementos*/
/*por ejemplo, si queremos dar estilo a un elemento unico, usamos id, pero si queremos dar estilo a varios elementos, usamos clase*/
/*en este caso, usamos id para el elemento pre y clase para el elemento p*/

/*los colores pueden ser por nombre red, codigo RGB rgb(102, 222, 255) , hexadecimal #ff000 y hsl*/

/*VOy a crear una font-face rule que enlazara ala carpeta fonts*/
@font-face{
    src: url(fonts/BitcountPropSingle_Cursive-Light.ttf);
    font-family: 'Bitcount Prop Single Cursive';
}

/*Este no va por algun motivo....*/
@font-face {
    font-family: 'Bitcount Prop ';
    src: url(fonts/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}


#fontTest{
    font-family: 'Bitcount Prop Single Cursive', Arial, Helvetica, sans-serif;
    color: white;
    /*monospace es una fuente de ancho fijo*/
    /*Mi funete a usar es lucida pero si no cvarga, iran las otras en orden*/
    font-size: 1.1em;
    margin:auto; /*margen automatico para centrar el texto*/

    border: 3px solid rgb(14, 68, 218);
    border-radius: 3px;
    border-bottom: 3px solid rgb(218, 21, 14);
    border-top: 3px solid rgb(14, 218, 21);
    border-left: 3px solid orange;

    /*Acabo de hacer borders, ahora sombras*/
    text-shadow: 0px 1px 5px, 0px 1px 5px green; /*horizonta vertical blurr color  con una , puedo hacer mas efectos*/
    
}

/*Turno de las Box*/
#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(14, 68, 218);
    /*
    border: 3px solid rgb(14, 218, 21);
    border-radius: 15px;
    */
    box-shadow: 10px 10px 5px  rgba(14, 68, 218, 0.5); /*sombra de la caja*/
    margin: auto; /*margen automatico para centrar la caja*/
}

.box{
    color: white;
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 50px; /*ponieendo solo margin, aplciamos a todos lados*/
    /*margin-bottom: 50px; /*margen inferior de 50px despues de nuestra caja*/
}

#box2{
    border-color: white;
    background-color: red;
    margin-left: auto; /*margen izquierdo automatico para centrar la caja la empuja hacia al drecha maxima SIEMPRE al maximo*/
    
}
#box3{
    border-color: white;
    background-color: rgb(41, 140, 147);
    margin: auto; /*margen automatico para centrar la caja*/
}

#pokeball{
    float: left; /*flotamos a la izquierda*/
    margin-right: 10px; /*margen derecho de 10px*/
}

#pikachu{
    float: right; /*flotamos a la derecha*/
    margin-left: 10px; /*margen izquierdo de 10px*/
}
.container{
    display: flow-root;/*esto hace que los elementos flotantes se comporten como si estuvieran dentro de un contenedor*/
    border: solid 2px rgb(202, 202, 202); /*borde solido de 2px*/
    /*
    width: 100%; ancho del 100%
    height: 340px; alto de 100px
    */
    background-color: rgb(14, 68, 218); /*color de fondo*/
    position: relative; /*posicion relativa para que los elementos hijos se posicionen relativos a este elemento Es superirir en capas a fixed*/
    margin-bottom: 10px; /*margen inferior de 10px*/
    color: white;/*color del texto*/
    font-family: Arial, Helvetica, sans-serif; /*fuente del texto*/
}
.container2{    
    background-color: rgb(115, 156, 2);
    border: 2px dotted rgb(14, 68, 218); /*borde punteado de 2px*/
    border-width: 5px;
    height: 150px;
    overflow: auto;

    /*letras*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Explaicaion de la display prperty*/
#div1{
    background-color: hsl(0,100%, 75%); /*color de fondo*/
    width: 100px; /*ancho de 100px*/
    height: 100px; /*alto de 100px*/
    display: inline-block; /*esto hace que el elemento se comporte como un bloque en linea*/   
}
#span1{
    background-color: rgb(27, 105, 97); /*color de fondo*/
    width: 100px; /*ancho de 100px*/
    height: 100px; /*alto de 100px*/
    /*display: inline-block; /*esto hace que el elemento se comporte como un bloque en linea al lado*/
    /*display: none; /*esto hace que el elemento no se muestre*/
    display: block; /*esto hace que el elemento se comporte como un elemento en linea se olvida del widht... */
    /*display: block; /*esto hace que el elemento se comporte como un bloque, ocupando todo el ancho disponible*/
    vertical-align: top; /*esto alinea el elemento al principio del bloque un inline queda mas bajo en span sin esto*/
}
.boxHeigth{
background-color: rgba(14, 68, 218, 0.5);
/*al pintarlas, ya no tendran el mismo color que el  div container grande en el que esta esta clase */
border: 2px solid white;
padding: 25px;
/*box-sizing: border-box; /*esto hace que el padding y el borde se incluyan en el ancho y alto del elemento*/
height: auto; /*esto hace que la altura del elemento se ajuste al contenido coge todo lo que pueda*/
width: 50%; /*ancho de 100px*/
float: left; /*flotamos a la izquierda*/
/*podemos aplicar minimas y maximas que ignoraran lo de arriba*/
}

/*ahora el container esta cogiendo el 100% de la altura disponible*/
.containerHeigth{
    background-color: green;
    /*si no fuera porque pinte las cajas de dentro de esta clase de otro color, serian verdes tambien en vez de azules*/
    height: 40vh; /*esto hace que la altura del elemento sea el 40% de la altura de la ventana del navegador*/    
}

#cajaPosition{
    width: 180px;
    height: 230px;
    background-color: rgb(14, 68, 218);
    position: static;
    top:100px; /*esto hace que el elemento se mueva 100px hacia abajo desde su posicion original*/
    left: 100px; /*esto hace que el elemento se mueva 100px hacia la derecha desde su posicion original*/
    /*cuando ponemos un numero negativo, ocurre lo contrario*/
    padding: 10px;
    margin: auto;
}
#lebronDrako{
    position:fixed;
    right: 0px;/*esto hace que el elemento se quede fijo en la esquina izquierda de la pantalla*/
    bottom: 0px; /*esto hace que el elemento se quede fijo en la esquina inferior de la pantalla*/
}

#combinatores{
    border: 2px solid white; /*borde solido de 2px*/
}

/*Todos los paragraf descendientes de combinatores, se cambian de color
#combinatores p{
    background-color: rgb(41, 140, 147);
}*/

#combinatores > p{ /* Todos los paragrafos hijos directos de combinatores, se cambian de color un solo div sin nada dentro de comb no cambia */              
    background-color: rgb(41, 140, 147);
}

#combinatores ~ p{ /* Todos los paragrafos hermanos de combinatores, son hijos del body  */              
    background-color: rgb(18, 23, 12);
}
#combinatores + p{ /* El primer paragrafos hermano de combinatores, es el que se cambia de color */              
    background-color: rgb(50, 57, 94);
}

a:link{ /*Esto se aplica a los enlaces que no han sido visitados*/
    color: rgb(187, 186, 186); /*color de los enlaces*/
    text-decoration: none; /*sin subrayado*/
}
a:hover{ /*Esto se aplica a los enlaces cuando se pasa el raton por encima*/
    color: rgb(255, 0, 0); /*color de los enlaces*/
    text-decoration: underline; /*subrayado*/
}

.paginacion{
    text-align: center;
}
.paginacion a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block; /*esto hace que el elemento se comporte como un bloque en linea (podemos ajustar ancho y alto de esos elemntos)*/
}
.paginacion a.active{ /*Esto se aplica al enlace activo*/
    background-color: rgb(26, 233, 91); /*color de fondo del enlace activo*/
    color: rgb(12, 2, 2); /*color del texto del enlace activo*/
    font-weight: bold; /*negrita del texto del enlace activo*/
    border-radius: 5px;
}
.paginacion a:hover:not(.active){ /*Esto se aplica al enlace cuando se pasa el raton por encima*/
    background-color: rgb(89, 92, 99); /*color de fondo del enlace activo*/
    color: white; /*color del texto del enlace activo*/
    text-decoration: none; 
    border-radius: 5px;
}



.dropdown{ /*hitbox es solo el tamaño del botn (div class dropdown) */
    display: inline-block;
}
.dropdown button{
    background-color: rgb(14, 68, 218);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer; /*cursor de mano al pasar por encima*/
}
.dropdown a{
    display: block; /*esto hace que el elemento se comporte como un bloque, ocupando todo el ancho disponible*/
    color: white; /*color del texto del enlace*/
    text-decoration: none;
    padding: 10px 15px; /*padding de 10px arriba y abajo, 15px a los lados*/
}
.dropdown .content{
    display: none; /*Esta desaparecido esto pero aparecera en otra {}*/
    position: absolute; /*posicion absoluta para que el contenido se posicione relativo al elemento padre*/
    background-color: hsl(0, 2%, 30%);
    box-shadow: 0px 8px 16px rgba(243, 243, 34, 0.55); /*sombra del contenido*/
}
.dropdown:hover .content{ /*Esto es que aparezca el menu al pasar el raton*/
    display: block;
}
.dropdown:hover button{
    background-color: hsla(0, 1%, 30%, 0.529)
}
.dropdown a:hover{
    background-color: hsla(0, 4%, 19%, 0.962)
}

/*Las navbar*/
.navbar ul {
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin: 0 auto; /* Esto centrará el ul */
    overflow: hidden;
    text-align: center; /* Centra los elementos inline/inline-block dentro */
    width: auto; /*fit-content Ajusta el ancho al contenido */
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    
}
/*Cuando paos el raton por una de las secciones cambiara de color*/
.navbar a:hover{
    background-color:hsla(0, 4%, 73%, 0.363)
}

/*Hatsa aqui era vertical, ahora la  quiero horizontal*/
.navbar li {
    float: none; /* Elimina el float */
    display: inline-block; /* Muestra los li en línea pero mantiene propiedades de bloque */
}

/* Contenedor principal de la galería */
.gallery-container {
    display: flex;           /* Activa el modelo Flexbox */
    flex-wrap: wrap;         /* Permite que los elementos pasen a nueva línea si no caben */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px;              /* Espacio uniforme entre elementos (reemplaza margin) */
    padding: 20px;          /* Espacio interno alrededor del contenedor */
}

/* Cada item de la galería */
.gallery-item {
     border: 1px solid hsl(111, 94%, 42%); /* Borde verde azulado */
    padding: 10px;                       /* Espacio interno */
    text-align: center;                  /* Centra el contenido */
    transition: all 0.3s ease;           /* Suaviza las animaciones */
}

.gallery-item:hover {
    border: 1px solid hsl(111, 94%, 33%); /* Borde más oscuro al pasar mouse */
    transform: scale(1.02);               /* Ligero zoom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.gallery-item img {
    display: block;    /* Elimina espacio fantasma debajo de imágenes */
    margin: 0 auto;    /* Centra la imagen horizontalmente */
    max-width: 100%;   /* Asegura que no sobresalga del contenedor */
    height: auto;      /* Mantiene proporciones originales */
}

.gallery-item .description {
    padding: 10px;                      /* Espacio interno */
    color: white;                       /* Color de texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    margin-top: 8px;                    /* Separación de la imagen */
}

/*icons general y especifico de la casa*/
.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house-chimney.fa-5x{
    color: rgb(24, 223, 24);
}
.fa-solid.fa-house-chimney.fa-5x:hover{
    color: rgba(24, 223, 24, 0.692);

}
.fa-brands.fa-twitter.fa-5x{
color: aqua;
}
.fa-brands.fa-twitter.fa-5x:hover{
color: rgba(0, 255, 255, 0.692);
}

.fa-brands.fa-youtube.fa-5x{
color: red;
}
.fa-brands.fa-youtube.fa-5x:hover{
color: rgba(255, 0, 0, 0.692);
}
.fa-solid.fa-headphones.fa-5x{
color: rgb(219, 13, 255);
}
.fa-solid.fa-headphones.fa-5x:hover{
color: rgba(219, 13, 255, 0.692);
}



/*Flexbox*/
.flexContainer{
    display: flex;
    /*flex-direction sirve para cambiar la direccion de los items por defecto es row 1-2-3.. pero en rw reverse le 1 empieza en el borde derecho al izquiedo  4-3-2-1*/
    /*justify-content contenido establece alineacion en el eje principal <------->main axis
    space betweeen deja un espacio entre los cuadardos, si separamos la web
    space around lo de fuera se añade
    space evenly*/
    
    /*justify-content: space-evenly;*/
    border:10px solid white;
    height: 50vh; /*90% de la altura de la web*/

    /*align-items es para el eje xiasis es decir el vertical (lo contrrio del justify)
    baseline si el iemn de box 1 los pongo en 2em la cajita baja pero el 1 se queda alineado con el texto del resto*/
    /*align-items: baseline;*/
    /*Antes de eso los 8 estaban como sardinas en una lata que se cambio la anchura de ellos para entrar en la container
    pero con flex-wrap en wrap, solo se van colocando uno al lado de otro en fila y pasan a otra linea para seguir, si alargamos la 
    ventana se colocan en la misma liena ahy reverse*/
    flex-wrap: wrap;
    align-content: flex-start; /*Esto junto a wrap hace que se eliminen espacioentre las filas */
    /*
    column-gap: 3em;
    row-gap: 3em;
    */


}
.flexBox{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#flexBox1{
    
    background-color: rgb(249, 80, 80);
    /*align-self*: start center end en el eje vertical*/
    /*order 1; se coloca al final -1 al principio*/
}
#flexBox2{
    background-color: rgb(249, 246, 80);
}
#flexBox3{
    background-color: lightgreen
}
#flexBox4{
    background-color: rgb(100, 187, 216)
}

