body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;       
}

#lebronDrako{
    position:fixed;
    right: 0px;/*esto hace que el elemento se quede fijo en la esquina izquierda de la pantalla*/
    bottom: 0px; /*esto hace que el elemento se quede fijo en la esquina inferior de la pantalla*/
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica ;
}
#buttonContainer{
    text-align: center;
}

.buttonsCoun{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(217, 78%, 61%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttonsCoun:hover{
    background-color: hsl(217, 86%, 49%);
}

.RanNumLabelStyle{
    display: inline-block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    margin: 20px;
}
#generatorNUM{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    animation: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}

@keyframes colorChange{
    0%{background-color: lightseagreen;}
    20%{background-color:rgb(42, 228, 32);}
    40%{background-color:rgb(214, 243, 30);}
    60%{background-color:rgb(250, 184, 17);}
    80%{background-color:rgb(228, 35, 32);}
    100%{background-color:rgb(228, 32, 215);}
}

#SubmitSubBtn{
    font-size: 1em;
}

#TemperatureC{
    background-color: hsla(0, 1%, 85%, 0.985);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#TemperatureTxtbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.823);
    border-radius: 4px;
    margin-bottom: 15px;
}

#toFahreinheitLbl, #toCelsiusLbl{
    font-size: 1.5em;
    font-weight: bold;    
}

#tempBtn{
    margin-top: 15px;
    font-size: 1.5em;
    background-color: hsl(0, 100%, 60%);
    color: white;
    border: solid black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#tempBtn:hover{
    background-color: hsl(0, 100%, 50%);
}

#resultTemp{
    font-size: 1.75em;
    font-weight: bold;
}



/* clock */

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url("/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /*background-attachment: fixed;*/
    
}

#clock{
    font-size: 6.5em;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(1px);
    width: 100%;
}


/*STOWATCH*/



#stopWatchCont {
    display: block; /* Cambia a block */
    width: fit-content; /* Ancho según contenido */
    margin: 30px auto; /* Centrado horizontal con margen vertical */
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: hsl(256, 11%, 74%);
    text-align: center; /* Centra el contenido interno */
}


#display{
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px;
    margin-bottom: 25px;
}

#stopWatchControl button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

#startStBtn{
    background-color: hsl(120, 73%, 75%);
}

#startStBtn:hover{
    background-color: hsla(120, 73%, 75%, 0.43);
}

#stopStBtn{
    background-color:hsl(0, 79%, 72%);
}

#stopStBtn:hover{
    background-color: hsla(0, 79%, 72%, 0.663);
}

#resetStBtn{
    background-color: hsl(186, 76%, 47%);
}

#resetStBtn:hover{
    background-color: hsla(186, 76%, 47%, 0.323);
}




/* Calculator */

#calcCont{
    display: block; /* Cambia a block */
    width: fit-content; /* Ancho según contenido */
    margin: 30px auto; /* Centrado horizontal con margen vertical */
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: hsl(256, 11%, 74%);
    text-align: center; /* Centra el contenido interno */
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.532);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#displayC{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: rgba(0, 0, 0, 0.532);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
.buttonC{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: hsla(0, 0%, 0%, 0.674);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


.buttonC:hover{
    background-color: hsla(0, 0%, 0%, 0.301);
}

.buttonC:active{ /*Cuando pulsoo*/
    background-color: hsla(0, 0%, 0%, 0.517);
}


#myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#myButton{
    font-size: 3rem;
}

/* KEy events */

#myBoxKey{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background : linear-gradient(45deg, #92e341ff, #1d3db0ff);
    border-radius: 8px;
    top: 125px;
    left: 175px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease;
}

#game-area {
    position: relative;
    width: 400px;
    height: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
}


#Hidebtn{
    font-size: 2.3rem;
}


/* NodeLuist */

.nodeBtn{
    font-size: 4rem;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: lightblue;
    
}

/*ClassList*/

#ClsLiBtn{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}


.enabled{
    background-color: hsl(192, 100%, 50%);
}

.disabled{
    background-color: hsl(307, 100%, 50%);
}

.hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.236);
    font-weight: bold;
}